body{
    background-color: rgb(74, 61, 250);
    color: white;
    background-image:url('grafika/pngegg.png'),url('grafika/stars.jpg');
    background-size:60%,cover;
    background-position-x:center;
    background-repeat:no-repeat,no-repeat;
}
.kafelek{
    float: left;
    font-weight:bold;
    /*background-color: rgb(187, 183, 183);*/
    background-color: rgb(54, 54, 54);
    width: 45px;
    height: 35px;
    margin: 2px;
    color:black;
    text-align: center;
    font-size: 30px;
    display:flex;
    justify-content: center; 
    align-items: center;
}
.plansza{
    background-color: white;
    height: 390px;
    width: 490px;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-top: 110px;
}
.rzad{
    clear: both;
}
#ilebomb{
font-size:1.5em;
margin-left:35%;
}
#czas > img{
width:50px;
height:50px;
}
#czas{
margin-left:17%;
font-size:1.5em;
}
.flexwrap{
    display:flex;
margin:0;
padding:0;
width:100%;
margin-top:3.5%;
}
