body{
    background-color: #222;
    color: white;
    background-size:60%,cover;
    background-position-x:center;
    background-repeat:no-repeat,no-repeat;
}
.kafelek{
    font-weight:bold;
    background-color: rgb(54, 54, 54);
    width: 4vw;
    height: 6vh;
    margin: 0.2em;
    color:black;
    text-align: center;
    font-size: 2rem;
    display:flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 0 0 0.1em black;
}
.plansza{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    width: 48vw;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-top: 110px;
}
.rzad{
    display: flex;
    flex-wrap: none;
}
#ilebomb{
    font-size:1.5em;
    margin-left:35%;
}
#czas > img{
    width:50px;
    height:50px;
}
#czas{
    margin-left:17%;
    font-size:1.5em;
}
.flexwrap{
    display:flex;
    margin:0;
    padding:0;
    width:100%;
    margin-top:3.5%;
}
